<h1><center> My Carts </center></h1>

<ul class="list-group">
    <% @carts.each do |cart| %>
        <li class="list-group-item"><%= link_to cart.number,cart_path(cart) %></li>
    <% end %>
</ul>


